.couponcode:hover .coupontooltip {
    display: block;
}


.coupontooltip {
    display: none;
    background: #C8C8C8;
    margin-left: 28px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    width:200px;
    height:100px;
}

.couponcode {
    margin:100px;
}

.stuck {
    position: fixed;
    top: 0px;
    left: 0px;
    max-height: 100%;
    width: 190px;
    background-color: #eee;
    overflow-y: auto;
}
.stuck p {
    margin: 10px;
}
.not-stuck {
    margin-left: 200px;
}