body{
    
}
.section1{
    
    width:60%;
    float:left;
    height:100vh;
    border-right: 0.25vw solid #F5E5D6; 
    margin:0;
    padding:0; 
    overflow: auto;
    overflow-wrap: break-word;
    white-space: normal;
    word-wrap: normal;

    
}
.section2{
    
    width:40%;
    float:left;
    height:100vh;
    border-left: 0.25vw solid #000;  
    margin:0;
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word

}

#page {
    padding: 100px;
    width: 300px;
}

#header,
#header-inner {
    height: 100px;
    width: 300px;
}

.scrolling {
    position: fixed;
    top: 0;
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}