

.stuck {
    position: fixed;
    top: 400px;
    right: 0px;
    max-height: 100%;
    max-width: 30%;
    background-color: #eee;
    overflow-y: auto;
    overflow:scroll;
}
.stuck p {
    margin: 10px;
}
.not-stuck {
    margin-left: 200px;
}