body{
    
}
.section1{
    
    width:60%;
    float:left;
    height:100vh;
    border-right: 0.25vw solid #F5E5D6; 
    margin:0;
    padding:0; 
    overflow: auto;
    overflow-wrap: break-word;
    white-space: normal;
    word-wrap: normal;

    
}
.section2{
    
    width:40%;
    float:left;
    height:100vh;
    border-left: 0.25vw solid #000;  
    margin:0;
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word

}

[tooltip]:before {
    /* needed - do not touch */
    content: attr(tooltip);
    position: absolute;
    opacity: 0;
    
    /* customizable */
    transition: all 0.15s ease;
    padding: 10px;
    color: #333;
    border-radius: 10px;
    box-shadow: 2px 2px 1px silver;    
}

[tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;
    
    /* customizable */
    background: yellow;
    margin-top: -50px;
    margin-left: 20px;    
}

[tooltip]:not([tooltip-persistent]):before {
    pointer-events: none;
}

/* FOR TEST PURPOSES ONLY */
div {
    border: 1px solid silver;
    background: #ddd;
    margin: 20px;
    padding: 10px;
}
  